/* background image */

#bodyAbout {
    background-image: url(../images/rock-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: rgb(44, 41, 41);
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

/* flex container */

.aboutFlex {
    color: white;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-content: space-between;

}

.aboutFlex h1 {
    font-size: 30pt;
    text-decoration: underline;
    margin: 0px;
    padding-top: 0px;
}

.aboutFlex > * {
    text-align: center;
}

.aboutFlex p {
    padding-left: 20px;
    padding-right: 20px;
}

.aboutFlex img {
    width: 100vw;
    height: auto;
    
}

.iconContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 10em;

}

/* tech icons with hover effect */

.techIcon {
    font-size: 40pt;
    border: 3pt solid green;
    border-radius: 50%;
    background-color: green;
    margin-bottom: 2em;

}



.techIcon:hover {
    animation: changeColor 1s forwards;

}

h3 {
    text-align: center;
    z-index: 1;
}


/* image of me */

#me {
    border: 1px solid white;
    height: 200px;
    width: 200px;
    border-radius: 50%; 
    padding: 3px;
    background-color: white;
}


 
/* logo animations  */

@keyframes changeColor {
    0% {background-color: green;}
    0% {border-color: green;}

    100% {background-color: tomato;}
    100% {border-color: tomato;}
    
}
/* tablet and larger viewport */
@media only screen and (min-width: 600px) {
    p {font-size: 18pt;}

}