/* global background color */

body {
  background-color: rgb(44, 41, 41);
  margin: 0px;

}

/* to set global font family for all html */

* {
  font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
    position: relative;
    text-align: center;
    width: 100vw;
    top: 0px;
}



/* Navbar at top of screen */

.navbar {
    background-color: rgb(64, 65, 63);
    border-bottom: 1pt solid white;
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
    margin-bottom: 3pt;
    z-index: 3;
}

.navbar div, 
.navbar a {
    width: 25%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    justify-self: center;
    font-size: 16pt;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s;
}

.navbar div:hover,
.navbar a:hover {
  background-color: black;
}



a {
    text-decoration: none;
    color: rgb(114, 185, 86);
}


/* Hamburger Menu */

.burgerNav {
  position: fixed;
  top: 0;
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  margin-right: 4%;
  background-color: black;
  border: 1px solid black;
  padding: 3px;
  
  z-index: 1;
  
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: rgb(114, 185, 86);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background:rgb(114, 185, 86);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}


/* footer */

.footer {
    border-top: 1pt solid white;
    width: 100vw;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    background-color: black;

}



.socials_icon {
    font-size: 2rem;
    color: green;

}

.socials_icon:hover {
  color: tomato;
  transition: 0.5s;
}

/* screen reader only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* to hide text from hidden mobile checkbox used in hamburger menu */

label {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .navbar div {
    font-size: 18pt;
  }
}

/* tablet and larger media */
@media only screen and (min-width: 600px) {
    #menuToggle {display: none;}
}

/* hides navbar when hamburger menu shows */

@media only screen and (max-width: 600px) {
    .navbar {display: none;}
    
}
