.body_home {
    background: url(../images/space_background_portfolio.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;

}

.home_container {
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(255, 238, 235);
    text-align: center;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
}

#home_name {
    color: rgb(114, 185, 86);
}

  /* desktop media */
 
  /* tablet media */
  @media only screen and (min-width: 600px) {
    #menuToggle {display: none;}
    .home_container {font-size: 38pt;}

  }

  /* mobile media */

  @media only screen and (max-width: 600px) {
      .navbar {display: none;}
      
  }