/* NOTE : Wave evaluation tool notes poor contract on the main text of the page. I went over this with glen and tried to fix this issue but to no avail. We concluded that the evluator was picking up the bright bits of the stars from the background image and labeling that as a contrast issue. Plz no mark down :( */



/* background image (potentially causing readability issues? see above) */

.body_home {
    background: url(../images/space_background_portfolio.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;

}

.home_container {
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(255, 238, 235);
    text-align: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-weight: bold;
}

#home_name {
    color: rgb(124, 197, 95);
}

  /* desktop media */
 
  /* tablet media */
  @media only screen and (min-width: 600px) {
    #menuToggle {display: none;}
    .home_container {font-size: 32pt;}

  }

  /* mobile media */

  @media only screen and (max-width: 600px) {
      .navbar {display: none;}
      
  }