.body_home {
    background: url(../images/space_background_portfolio.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

.home_container {
    padding: 8px;
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(255, 238, 235);
    text-align: center;
    position: bottom;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 50vh;
    width: 80vw;
}

#home_name {
    color: rgb(114, 185, 86);
}

  /* desktop media */
 
  /* tablet media */
  @media only screen and (min-width: 600px) {
    #menuToggle {display: none;}
    .home_container {font-size: 38pt;}

  }

  /* mobile media */

  @media only screen and (max-width: 600px) {
      .navbar {display: none;}
      
  }